<table border="1" class="table table-hover table-dark cluster_table">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>Area_Name</th>
        <th>Cases_Property_Stolen</th>
        <th>Victims_of_Rape_Total</th>
        <th>Auto_Theft_Stolen</th>
        <th>Total_Murders</th>
        <th>Total_Kidnapp</th>
        <th>Population</th>
        <th>CLUSTER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>Andaman &amp; Nicobar Islands</td>
        <td>3662</td>
        <td>168</td>
        <td>166</td>
        <td>137</td>
        <td>76</td>
        <td>380581.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>1</th>
        <td>Andhra Pradesh</td>
        <td>642822</td>
        <td>21392</td>
        <td>113618</td>
        <td>27481</td>
        <td>17287</td>
        <td>84580777.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Arunachal Pradesh</td>
        <td>16632</td>
        <td>824</td>
        <td>1658</td>
        <td>703</td>
        <td>682</td>
        <td>1383727.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Assam</td>
        <td>245560</td>
        <td>25524</td>
        <td>22236</td>
        <td>12761</td>
        <td>20363</td>
        <td>31205576.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Bihar</td>
        <td>411840</td>
        <td>22526</td>
        <td>45754</td>
        <td>34675</td>
        <td>28180</td>
        <td>104099452.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Chandigarh</td>
        <td>39720</td>
        <td>456</td>
        <td>14842</td>
        <td>202</td>
        <td>510</td>
        <td>1055450.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Chhattisgarh</td>
        <td>199712</td>
        <td>19502</td>
        <td>33310</td>
        <td>10787</td>
        <td>2423</td>
        <td>25545198.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>7</th>
        <td>Dadra &amp; Nagar Haveli</td>
        <td>2642</td>
        <td>98</td>
        <td>446</td>
        <td>87</td>
        <td>123</td>
        <td>343709.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>8</th>
        <td>Daman &amp; Diu</td>
        <td>2056</td>
        <td>28</td>
        <td>510</td>
        <td>53</td>
        <td>22</td>
        <td>243247.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>9</th>
        <td>Delhi</td>
        <td>490694</td>
        <td>10342</td>
        <td>197330</td>
        <td>5396</td>
        <td>18217</td>
        <td>16787941.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>10</th>
        <td>Goa</td>
        <td>19788</td>
        <td>540</td>
        <td>4404</td>
        <td>412</td>
        <td>200</td>
        <td>1458545.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>11</th>
        <td>Gujarat</td>
        <td>534060</td>
        <td>6678</td>
        <td>158396</td>
        <td>12757</td>
        <td>12009</td>
        <td>60439692.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>12</th>
        <td>Haryana</td>
        <td>303336</td>
        <td>10018</td>
        <td>118926</td>
        <td>8793</td>
        <td>6426</td>
        <td>25351462.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>13</th>
        <td>Himachal Pradesh</td>
        <td>34000</td>
        <td>2906</td>
        <td>4750</td>
        <td>1269</td>
        <td>1437</td>
        <td>6864602.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>14</th>
        <td>Jammu &amp; Kashmir</td>
        <td>74906</td>
        <td>4456</td>
        <td>13088</td>
        <td>7339</td>
        <td>7533</td>
        <td>12541302.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>15</th>
        <td>Jharkhand</td>
        <td>176868</td>
        <td>15126</td>
        <td>26826</td>
        <td>15682</td>
        <td>5966</td>
        <td>32988134.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>16</th>
        <td>Karnataka</td>
        <td>494968</td>
        <td>7834</td>
        <td>134254</td>
        <td>16891</td>
        <td>7452</td>
        <td>61095297.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>17</th>
        <td>Kerala</td>
        <td>221652</td>
        <td>10616</td>
        <td>37480</td>
        <td>4208</td>
        <td>2371</td>
        <td>33406061.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>18</th>
        <td>Lakshadweep</td>
        <td>342</td>
        <td>14</td>
        <td>22</td>
        <td>4</td>
        <td>1</td>
        <td>64473.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>19</th>
        <td>Madhya Pradesh</td>
        <td>733524</td>
        <td>58514</td>
        <td>155380</td>
        <td>23694</td>
        <td>9582</td>
        <td>72626809.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>20</th>
        <td>Maharashtra</td>
        <td>1376814</td>
        <td>29010</td>
        <td>262564</td>
        <td>28693</td>
        <td>12735</td>
        <td>112374333.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>21</th>
        <td>Manipur</td>
        <td>11584</td>
        <td>546</td>
        <td>3388</td>
        <td>2204</td>
        <td>1618</td>
        <td>2855794.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>22</th>
        <td>Meghalaya</td>
        <td>16724</td>
        <td>1478</td>
        <td>2348</td>
        <td>1485</td>
        <td>558</td>
        <td>2966889.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>23</th>
        <td>Mizoram</td>
        <td>26892</td>
        <td>1292</td>
        <td>868</td>
        <td>358</td>
        <td>85</td>
        <td>1097206.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>24</th>
        <td>Nagaland</td>
        <td>10814</td>
        <td>352</td>
        <td>4014</td>
        <td>956</td>
        <td>396</td>
        <td>1978502.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>25</th>
        <td>Odisha</td>
        <td>224280</td>
        <td>17720</td>
        <td>33144</td>
        <td>11762</td>
        <td>7061</td>
        <td>41974218.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>26</th>
        <td>Puducherry</td>
        <td>14236</td>
        <td>114</td>
        <td>7082</td>
        <td>303</td>
        <td>144</td>
        <td>1247953.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>27</th>
        <td>Punjab</td>
        <td>151182</td>
        <td>8614</td>
        <td>35484</td>
        <td>8172</td>
        <td>6227</td>
        <td>27743338.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>28</th>
        <td>Rajasthan</td>
        <td>469468</td>
        <td>23908</td>
        <td>151722</td>
        <td>13176</td>
        <td>24313</td>
        <td>68548437.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>29</th>
        <td>Sikkim</td>
        <td>3314</td>
        <td>298</td>
        <td>142</td>
        <td>151</td>
        <td>61</td>
        <td>610577.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>30</th>
        <td>Tamil Nadu</td>
        <td>431864</td>
        <td>11098</td>
        <td>82306</td>
        <td>16876</td>
        <td>11514</td>
        <td>72147030.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>31</th>
        <td>Tripura</td>
        <td>14480</td>
        <td>3252</td>
        <td>996</td>
        <td>1867</td>
        <td>1523</td>
        <td>3673917.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>32</th>
        <td>Uttar Pradesh</td>
        <td>559970</td>
        <td>30106</td>
        <td>183116</td>
        <td>58810</td>
        <td>41952</td>
        <td>199812341.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>33</th>
        <td>Uttarakhand</td>
        <td>41530</td>
        <td>2202</td>
        <td>10662</td>
        <td>2751</td>
        <td>2245</td>
        <td>10086292.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>34</th>
        <td>West Bengal</td>
        <td>372226</td>
        <td>32756</td>
        <td>58658</td>
        <td>16959</td>
        <td>16709</td>
        <td>91276115.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>35</th>
        <td>Ladakh</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.0</td>
        <td>0</td>
      </tr>
      <tr>
        <th>36</th>
        <td>Telangana</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>